<html>
    <head>
        <title>New user</title>
    </head>
    <body>
        <%-include('./templates/header.ejs', {title: "New Message"}) %>
        <%-include('./templates/navbar.ejs', {name: "Home", link:"/"}) %>

        <form method="POST" action="/new">
            <label for="userName">Username</label>
            <input name="userName" type="text">
            <br>
            <label for="messageText">Message</label>
            <input name="messageText" type="text">
            <input type="submit" value="submit">
        </form>
    </body>
</html>